<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <base href="<%=basePath%>">
    <meta charset="UTF-8">
    <title>后台管理</title>

    <link th:href="@{../../Houtai/css/style.css}" rel="stylesheet"/>
    <link th:href="@{../../User_Data_Update/css/jiazaitoubu.css}" rel="stylesheet"/>
    <link th:href="@{../../User_Data_Update/css/shangchuan.css}" rel="stylesheet"/>
    <link th:href="@{../../User_Data_Update/css/center.css}" rel="stylesheet"/>
    <link th:href="@{../../Homepage/mycssAndimg/css.css}" rel="stylesheet"/>



    <script th:src="@{../../Homepage/js/jquery-2.0.0.js}"></script>
    <script th:src="@{../../Homepage/js/jquery.min.js}"></script>
    <script th:src="@{../../Homepage/js/sHover.min.js}"></script>
    <script th:src="@{../../adminjs/chaxunjs.js}"></script>

    <script type="text/javascript">
        //显示灰色 jQuery 遮罩层
        function showBg2(className) {
            className="."+className;
            var bh = $("body").height();
            var bw = $("body").width();
            $("#fullbg").css({
                height: bh,
                width: bw,
                display: "block"
            });
            // $("#dialog2").show();
            // $(num).show();

            $(className).show();
        }

        //关闭灰色 jQuery 遮罩
        function closeBg2() {
            $("#fullbg,#dialog2").hide();
        }
    </script>


    <script type="text/javascript">
        //显示灰色 jQuery 遮罩层
        function showUserInfo() {
            $("#li010").show();
            $("#li020").hide();
            $("#li030").hide();
        }
        //关闭灰色 jQuery 遮罩
        function closeUserInfo() {
            $("#li010").hide();
        }
    </script>


    <script type="text/javascript">
        //显示灰色 jQuery 遮罩层
        function showVideoInfo() {
            $("#li020").show();
            $("#li010").hide();
            $("#li030").hide();
        }
        //关闭灰色 jQuery 遮罩
        function closeVideoInfo() {
            $("#li020").hide();
        }
    </script>



    <script type="text/javascript">
        //显示灰色 jQuery 遮罩层
        function showMusicUpload() {
            $("#li030").show();
            $("#li010").hide();
            $("#li020").hide();
        }
        //关闭灰色 jQuery 遮罩
        function closeMusicUpload() {
            $("#li030").hide();
        }
    </script>




</head>
<body>



<div class="header">
    <div class="header03"></div>
    <div class="header01"></div>
    <div class="header02">后台管理</div>

</div>
<div class="left" id="LeftBox">
    <div class="left01">
        <div class="left01_right"></div>
        <div class="left01_left"></div>
        <div class="left01_c">超级管理员：admin</div>
    </div>
    <div class="left02">
        <div class="left02top">
            <div class="left02top_right"></div>
            <div class="left02top_left"></div>
            <div class="left02top_c"><a href="javascript:showUserInfo();">用户信息管理</a></div>
        </div>
    </div>
    <div class="left02">
        <div class="left02top">
            <div class="left02top_right"></div>
            <div class="left02top_left"></div>
            <div class="left02top_c"><a href="javascript:showVideoInfo();">音乐信息管理</a></div>
        </div>
    </div>
    <div class="left02">
        <div class="left02top">
            <div class="left02top_right"></div>
            <div class="left02top_left"></div>
            <div class="left02top_c"><a href="javascript:showMusicUpload();">音乐上传</a></div>
        </div>
    </div>

    <form th:action="@{/logout}" method="post">
        <input class="left03_c" type="submit" value="安全退出" style="line-height: 20px"/>
    </form>
</div>
<div class="rrcc" id="RightBox">



    <div class="right" id="li010">
        <div class="right01"><img src="../../Houtai/images/04.gif" /> 用户信息查询 &gt; </div>
        <table width="100%" height="100%" border="0" cellspacing="0" cellpadding="3">
            <tr>
                <td height="100%" valign="top">
                    <div style="overflow:auto;height:100%; width:100%">
                        <table width="100%" border="0" cellpadding="3" cellspacing="1" class="table1">
                            <tr>
                                <th align="center"><input type="checkbox" name="checkbox" id="checkbox"></th>
                                <th align="center">用户ID</th>
                                <th align="center">用户账号</th>
                                <th align="center">联系电话</th>
                                <th align="center">地址</th>
                                <th align="center">审核状态</th>
                                <th width="160" align="center">操作</th>
                            </tr>
                            <tr th:each="list : ${userList}">
                                <TD align="center"><input type="checkbox" name="checkbox2" id="checkbox2"></TD>
                                <TD align="center" th:text="${list.userID}"></TD>
                                <TD align="center" th:text="${list.userName}"></TD>
                                <TD align="center" th:text="${list.userPhone}"></TD>
                                <TD align="center" th:text="${list.userAddress}"></TD>
                                <TD align="center" th:text="${list.userState}"></TD>
                                <TD width="200px" align="center">
                                    <a th:href="'javascript:showBg2(\''+${list.userName}+'\')'">
                                        <BUTTON style="height:21px; font-size:12px" >查看</BUTTON>
                                    </a>
                                    <a th:href="'ban?userID='+${list.userID}">
                                        <BUTTON style="height:21px; font-size:12px" >禁用</BUTTON>
                                    </a>
                                    <a th:href="'verify?userID='+${list.userID}">
                                        <BUTTON style="height:21px; font-size:12px" >审核</BUTTON>
                                    </a>
                                    <a th:href="'delect?userID='+${list.userID}">
                                        <BUTTON style="height:21px; font-size:12px" >删除</BUTTON>
                                    </a>
                                </TD>
                                <div th:class="public_m1" th:classappend="${list.userName}" th:id="dialog2">
                                    <p class="close" style="height: 15px;margin: 0">
                                        <a onclick="closeBg2();" style="cursor: pointer">关闭</a>
                                    </p>

                                    <div class="public_m2">用户全部信息资料</div>
                                    <div class="public_m4">
                                        <p style="height: 40px;">
                                            <em>用户姓名：</em>
                                            <input type="text"
                                                   style="height: 23px; border: 1px solid #eaeaea; width: 240px"
                                                   th:value="${list.userMingzi}">
                                        </p>
                                        <p style="height: 40px;">
                                            <em>用户名：</em>
                                            <input type="text"
                                                   style="height: 23px; border: 1px solid #eaeaea; width: 240px"
                                                   th:value="${list.userName}">
                                        </p>
                                        <p style="height: 40px;">
                                            <em>性别：</em>
                                            <input type="text"
                                                   style="height: 23px; border: 1px solid #eaeaea; width: 240px"
                                                   th:value="${list.usersex}">
                                        </p>
                                        <p style="height: 40px;">
                                            <em>密码：</em>
                                            <input type="text"
                                                   style="height: 23px; border: 1px solid #eaeaea; width: 240px"
                                                   th:value="${list.passWord}">
                                        </p>
                                        <p style="height: 40px;">
                                            <em>地址：</em>
                                            <input type="text"
                                                   style="height: 23px; border: 1px solid #eaeaea; width: 240px"
                                                   th:value="${list.userAddress}">
                                        </p>
                                        <p style="height: 40px;">
                                            <em>邮箱：</em>
                                            <input type="text"
                                                   style="height: 23px; border: 1px solid #eaeaea; width: 240px"
                                                   th:value="${list.userEmial}">
                                        </p>
                                        <p style="height: 40px;">
                                            <em>用户状态：</em>
                                            <input type="text"
                                                   style="height: 23px; border: 1px solid #eaeaea; width: 240px"
                                                   th:value="${list.userState}">
                                        </p>

                                    </div>
                                </div>


                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
        </table>
    </div>



    <div class="right" id="li020">
        <div class="right01"><img src="../../Houtai/images/04.gif" /> 视频信息查询 &gt; </div>
        <table width="100%" height="95%" border="0" cellspacing="0" cellpadding="3">
            <tr>
                <td height="100%" valign="top">
                    <div style="overflow:auto;height:100%; width:100%">
                        <table width="100%" border="0" cellpadding="3" cellspacing="1" class="table1">
                            <tr>
                                <th align="center"><input type="checkbox" name="checkbox" id="checkbox3"></th>
                                <th align="center" style="width: 100px;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;">视频ID</th>
                                <th align="center">视频名字</th>
                                <th align="center">视频封面</th>
                                <th align="center">视频时长</th>
                                <th align="center">视频类型</th>
                                <th width="160" align="center">操作</th>
                            </tr>
                            <tr th:each="vList : ${videoList}">
                                <TD align="center"><input type="checkbox" name="checkbox2" id="checkbox4"></TD>
                                <TD align="center" style="width: 100px;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;" th:text="${vList.videoID}"></TD>
                                <TD align="center" th:text="${vList.videoName}"></TD>
                                <TD align="center" th:text="${vList.videoImage}"></TD>
                                <TD align="center" th:text="${vList.videoTime}"></TD>
                                <TD align="center" th:text="${vList.videocAtegory}"></TD>
                                <TD width="200px" align="center">
                                    <a href="">
                                        <BUTTON style="height:21px; font-size:12px" >查看</BUTTON>
                                    </a>
                                    <a th:href="'delectVideo?videoID='+${vList.videoID}">
                                        <BUTTON style="height:21px; font-size:12px" >删除</BUTTON>
                                    </a>
                                </TD>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
        </table>
    </div>


    <div class="right" id="li030">
        <div class="right01"><img src="../../Houtai/images/04.gif" /> 音乐上传 &gt; </div>
        <form id="upload_form" th:action="@{/uploadMusic}" method="post" style="background-color: white" enctype="multipart/form-data">

            <div>
                <div><label style="color: black;">请选择音乐文件</label></div>
                <div><input type="file" name="file" id="music"/></div>
            </div>
            <div>
                <div><label style="color: black;">请选择音乐封面</label></div>
                <div><input type="file" name="file" id="musicImg"/></div>
            </div>
            <div>
                <div><label style="color: black;">请输入歌曲名</label></div>
                <div><input type="text" name="musicName" id="musicName"/></div>
            </div>

            <div>
                <div><label style="color: black;">请输入歌手名</label></div>
                <div><input type="text" name="singer" id="singer"/></div>
            </div>

            <div>
                <div><label style="color: black;">请选择歌曲分类</label></div>
                <div>
                    <label><input name="musicAtegory" type="radio" value="1" checked/>韩语 </label>
                    <label><input name="musicAtegory" type="radio" value="2"/>华语 </label>
                    <label><input name="musicAtegory" type="radio" value="3"/>欧美 </label>
                    <label><input name="musicAtegory" type="radio" value="4"/>日语 </label>
                    <label><input name="musicAtegory" type="radio" value="5"/>粤语 </label>
                </div>
                <div><label style="color: black;">请选择是否为付费</label></div>
                <div>
                    <label><input name="musicState" type="radio" value="1" checked/>普通 </label>
                    <label><input name="musicState" type="radio" value="2"/>VIP </label>
                </div>
            </div>
            <div>
                <input type="button" id="tougao" value="确认"/>
                <input type="button" id="fanhui" value="取消返回"/>
                <input type="submit" id="submit" value="立即投稿" disabled="disabled"/>
            </div>
            <!--/*@thymesVar id="MusicUploadFeedback" type="java"*/-->
            <p th:if="${MusicUploadFeedback}" style="text-align: center">
                <span style="color: red" th:text="${MusicUploadFeedback}"></span>
            </p>

            <!--/*@thymesVar id="VideoUploadSuccess" type="java"*/-->
            <p th:if="${MusicUploadSuccess}" style="text-align: center">
                <span style="color: green" th:text="${MusicUploadSuccess}"></span>
            </p>

        </form>
    </div>
</div>


</body>
</html>