<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>U-MusicWeb</title>
    <link th:href="@{webIndex/css/reset.css}" rel="stylesheet"/>
    <link th:href="@{webIndex/css/common.css}" rel="stylesheet"/>
    <link th:href="@{webIndex/css/index.css}" rel="stylesheet"/>


    <script th:src="@{Homepage/js/jquery.min.js}"></script>
    <script th:src="@{webIndex/js/script.js}"></script>
    <script th:src="@{jquery-1.10.2/jquery.js}"></script>
<!--    <script th:src="@{adminjs/adminjs.js}"></script>-->

    <script type="text/javascript">
        $(function(){
            //每个固定的时间移动图片
            var timer = setInterval(picLoop,3000);
            var index = 0;
            function picLoop(){
                index++;
                if (index==4) {index=0;}
                $(".content").animate({"left":-1000*index},1000);
                // $(".index li").eq(index).css("background-color","red")
                //     .siblings().css("background-color","rgba(100,100,100,0.3)");
            }

            //定时器的控制
            $(".pic").hover(function(){
                clearInterval(timer);
                $(".left").show();
                $(".right").show();
            },function(){
                timer = setInterval(picLoop,4000);
                $(".left").hide();
                $(".right").hide();
            })

            $(".index li").mouseover(function(){
                // $(this).css("background-color","red")
                    // .siblings().css("background-color","rgba(100,100,100,0.3)");
                index = $(this).index();
                $(".content").animate({"left":-1000*index},1000);

            })

        })
    </script>


    <style>
        #inp1{
            border-radius:10px 0 0 10px;
            background: white;
            margin-top: 10px;
            height: 25px;
            width: 200px;
        }
        #inp2{
            background: url('./webIndex/images/search.png') no-repeat center;
            border-radius:0 10px 10px 0;
            background-color:whitesmoke;
            margin-top: 9px;
            height: 25px;
            width:40px;
            color: white;
        }


        input::-ms-input-placeholder{
            text-align: center;
        }
        input::-webkit-input-placeholder {
            text-align: center;
        }
    </style>
</head>
<body>


<header id="header">
    <div id="page_top">
        <div class="bg-wrap">
            <div class="bg"></div>
            <div class="mask"></div>
        </div>
        <div class="header-top">
            <div class="page-width clearfix">
                <div class="header-top__nav">
                    <ul>
                        <li class="item item-home"><a th:href="@{/index}">主页</a></li>
                        <li class="item"><a th:href="@{/admin/adminSystem}">后台管理</a>
                    </ul>
                </div>
                <div class="header-top__user">
                    <!--/*@thymesVar id="userName" type="java"*/-->
                    <div class="login-box" th:if="!${session.userName}">
                        <a href="clientLogin">登录</a> <span></span> <a href="register">注册</a>
                    </div>


                    <div th:if="${session.userName}" class="login-box" onmouseover="project()">
                        <ul style="display: inline-block ;position: relative;">
                            <li class="item">
                                <a href="user" th:text="${session.userName}"></a>
                            </li>
                        </ul>
                    </div>
                </div>

                <!------搜索框------>
                <header style="text-align: center;">
                    <ul class="ku">
                        <form th:action="@{/list}" method="GET">
                            <input type="hidden" name="type" value="search">
                            <input type="search" name="key" id="inp1" placeholder="搜索音乐">
                            <input type="submit" id="inp2" value=" ">
                        </form>
                    </ul>
                </header>




            </div>
            <script type="text/javascript">
                $(document).ready(function () {
                    $("#div2").hide();

                })

                function asjdh() {//移出
                    //alert("1");
                    $("#div2").hide();
                }

                function project() {//移入
                    //alert("2");
                    $("#div2").show();
                }
            </script>
        </div>
    </div>
</header>

<div id="banner">
    <div class="page-width clearfix">
        <div class="pic">
            <div class="content" >
                <img src="webIndex/images/cont/top1.jpg" alt="#">
                <img src="webIndex/images/cont/top2.jpg" alt="#">
                <img src="webIndex/images/cont/top3.jpg" alt="#">
                <img src="webIndex/images/cont/top4.jpg" alt="#">
            </div>
            <ul class="index" >
                <li class="first" ></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
    </div>
</div>

<nav id="nav">
    <div class="page-width clearfix">
        <ul class="nav-list">
            <li class="item item-home"><a href="index.sf" class="link">首页</a>
            </li>
            <li class="item"><a href="list?type=category&key=1" class="link">
                <div class="num">
                    <i>韩语</i>
                </div>

            </a></li>
            <li class="item"><a href="list?type=category&key=2" class="link">
                <div class="num">
                    <i>华语</i>
                </div>

            </a></li>
            <li class="item"><a href="list?type=category&key=3" class="link">
                <div class="num">
                    <i>欧美</i>
                </div>

            </a></li>
            <li class="item"><a href="list?type=category&key=4" class="link">
                <div class="num">
                    <i>日语</i>
                </div>

            </a></li>
            <li class="item"><a href="list?type=category&key=5" class="link">
                <div class="num">
                    <i>粤语</i>
                </div>

            </a></li>
            <li class="item"><a href="list?type=category&key=6" class="link">
                <div class="num">
                    <i>民谣</i>
                </div>

            </a></li>
            <li class="item"><a href="" class="link">
                <div class="num">
                    <i>电子</i>
                </div>

            </a></li>
            <li class="item"><a href="" class="link">
                <div class="num">
                    <i>BGM</i>
                </div>

            </a></li>
            <li class="item"><a href="" class="link">
                <div class="num">
                    <i>新歌</i>
                </div>

            </a></li>
            <li class="item"><a href="" class="link">
                <div class="num">
                    <i>RAP</i>
                </div>

            </a></li>
            <li class="item">
                <a href="" class="link">
                <div class="num">
                    <i>娱乐</i>
                </div>
                </a>

        </ul>

    </div>
</nav>



<div id="main">
    <div class="page-width">
        <div class="mainCont clearfix" id="dance" js-move="true">
            <div class="pic-list fl" js-tab="true">
                <div class="pic-list__title">
                    <i class="icon icon-dance"></i>
                    <h2>韩语</h2>
                    <div class="tab-title">
                        <a href="#" class="cur">有新动态</a>
                    </div>

                </div>
                <ul class="pic-list__wrapper clearfix tab-cont__item tab-cont__cur">
                    <!-- 这里开始遍历 -->
                    <li th:each="list : ${lists1}" class="item">
                        <a th:href="'music?ID='+${list.getmusicID()}" class="img-link">
                            <img
                                th:src="${list.getmusicImage()}" alt="#">
                            <span class="mask"></span>
                            <span class="time" th:text="'点击量: '+${list.getMusicClick()}"></span>
                        </a>
                        <div class="img-info">
                            <a th:href="'music?ID='+${list.getmusicID()}"
                               th:text="${list.getmusicName()}">
                            </a>
                            <div class="btm">
                                <div class="user">
                                    <p th:text="${list.getSinger()}"></p>
                                </div>
                                <div class="online">
                                    <p th:text="${list.getmusicTime()}"></p>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>


                <div class="pic-list__title">
                    <i class="icon icon-dance"></i>
                    <h2>华语</h2>
                    <div class="tab-title">
                        <a href="#" class="cur">有新动态</a>
                    </div>
                </div>
                <ul class="pic-list__wrapper clearfix tab-cont__item tab-cont__cur">
                    <li th:each="list2 : ${lists2}" class="item">
                        <a th:href="'music?ID='+${list2.getmusicID()}" class="img-link">
                            <img th:src="${list2.getmusicImage()}" alt="#">
                            <span class="mask"></span>
                            <span class="time" th:text="'点击量: '+${list2.getMusicClick()}"></span>
                        </a>
                        <div class="img-info">
                            <a th:href="'music?ID='+${list2.getmusicID()}"
                               th:text="${list2.getmusicName()}">

                            </a>
                            <div class="btm">
                                <div class="user">
                                    <p th:text="${list2.getSinger()}"></p>
                                </div>
                                <div class="online">
                                    <p th:text="${list2.getmusicTime()}"></p>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="main-side fr" js-tab="true">
                <div class="main-side__title">
                    <div class="rank-t">
                        <h3>U音乐新歌榜</h3>
                    </div>

                </div>
                <div class="main-side__cont">
                    <div class="tab-cont">
                        <ul class="tab-cont__item main-rank" id="did2">
                            <li th:each="list : ${lists3}" class="item">

                                <a style="width: 200px;float: left;display: block" th:href="'music?ID='+${list.getmusicID()}"
                                   th:text="${list.getmusicName()}"></a>
                                <img style="width: 18px;float: left;display: block;line-height: 18px" src="webIndex/images/fire.png" alt="">
                            </li>
                        </ul>
                    </div>
<!--                    <button type="button" class="more" id="chakan">-->
<!--                        查看更多<i></i>-->
<!--                    </button>-->

                    <script type="text/javascript">

                    </script>
                </div>

            </div>
        </div>




    </div>
</div>

</body>
</html>