<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <base href="<%=basePath%>">
    <meta charset="UTF-8">
    <title>U-M修改密码</title>

    <link th:href="@{User_Data_Update/css/jiazaitoubu.css}" rel="stylesheet"/>
    <link th:href="@{User_Data_Update/css/css.css}" rel="stylesheet"/>
    <link th:href="@{User_Data_Update/css/center.css}" rel="stylesheet"/>
    <link th:href="@{User_Data_Update/city/city.css}" rel="stylesheet"/>

    <script th:src="@{User_Data_Update/js/jquery-1.8.3.min.js}"></script>
    <script th:src="@{User_Data_Update/js/index2.js}"></script>
    <script th:src="@{User_Data_Update/js/jquery-1.8.3.min.js}"></script>
</head>
<body>
<script>
    window.onload=function(){
        $(".aside").css({display:"none"})
        $(".important").mouseenter(function(){
            $(".aside").css({display:"block"})
        }).mouseleave(function(){
            $(".aside").css({display:"none"})
        })
    }
</script>

<!--一条开始-->
<div class="public_m1" style="width: 400px;height:330px;margin: auto;position: absolute;top: 0;left: 0;right: 0;">
    <div class="public_m2">登录密码修改</div>
    <!--提示信息-->
    <div class="tip_notem">
        <ul>
            <li>1.请牢记登录密码</li>
            <li>2.如果丢失密码，可以通过绑定的手机或邮箱找到</li>
        </ul>
    </div>
    <form th:action="Update_login_password" method="post" style="width: 300px">
        <div class="public_m4">
            <p>
                <em>原密码：</em> <input type="text" name="passWord"
                                     style="height: 23px; border: 1px solid #eaeaea; width: 200px">
            </p>
            <p>
                <em>新的密码：</em> <input type="text" name="newpassWord"
                                      style="height: 23px; border: 1px solid #eaeaea; width: 200px">
            </p>
            <p>
                <em>确认密码：</em> <input type="text" name="newpassWord2"
                                      style="height: 23px; border: 1px solid #eaeaea; width: 200px">
            </p>


            <!--/*@thymesVar id="PassWordErro" type="java"*/-->
            <p th:if="${PassWordErro}">
                <span style="color: red" th:text="${PassWordErro}"></span>
            </p>

        </div>
        <input class="public_m3" type="submit" value="确认修改" style="width: 280px;margin: 0 50px;">
    </form>
</div>
</body>
</html>